<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <div class='col-md-12'>
    <h1 class="page-header">twitchAngular</h1>
  </div>

  <!-- CSS Styles -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet"; href="node_modules/ng-table/bundles/ng-table.min.css">
  <link rel="stylesheet" href="main.css">

  <!-- angular -->
  <script src="node_modules/angular/angular.min.js"></script>
  <!-- ng table -->
  <script src="node_modules/ng-table/bundles/ng-table.min.js"></script>
  <!-- main controller -->
  <script src=app.js></script>

</head>

<body>

  <div class='col-md-12' ng-app="twitchAngular">
    <div ng-controller="demoCtrl as demo">
      <!-- Filter buttons -->
      <label class="checkbox-inline" ng-repeat="col in cols_nodelete">
        <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show"/> {{col.title}}
      </label>
      <!-- Edit and create buttons -->
      <div class="brn-group pull-right">
        <button class="btn btn-default" ng-if="demo.isEditing" ng-click="cancelChanges()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button class="btn btn-primary" ng-if="!demo.isEditing" ng-click="demo.isEditing = true">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-primary" ng-if="demo.isEditing" ng-disabled="!demo.hasChanges() || demo.tableTracker.$invalid" ng-click="saveChanges()">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="btn btn-default" ng-click="add()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>

       <table ng-table-dynamic="tableParams with cols" class="table table-bordered table-condensed table-hover editable-table table-striped" ng-form="demo.tableForm" disable-filter="demo.isAdding">

         <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
           <td ng-repeat="col in $columns" ng-class="rowForm[col.field].$dirty ? 'bg-warning' : ''" ng-form="{{col.field}}" demo-tracked-table-cell>
             <span ng-if="col.dataType !== 'command' && !demo.isEditing && true" class="editable-text">{{row[col.field]}}</span>
             <div ng-if="col.dataType !== 'command' && demo.isEditing" class="controls" ng-class="rowForm[col.field].$invalid && rowForm[col.field].$dirty ? 'has-error' : ''" ng-switch="col.dataType">
               <input ng-switch-default type="text" name="{{col.field}}" ng-model="row[col.field]" class="editable-input form-control input-sm" required />
               <input ng-switch-when="number" type="number" name="{{col.field}}" ng-model="row[col.field]" class="editable-input form-control input-sm" required />
             </div>
             <button ng-if="col.dataType === 'command'" class="btn btn-danger btn-sm" ng-click="del(row)" ng-disabled="!demo.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
           </td>
         </tr>
       </table>

    </div>
  </div>

</body>
</html>
